<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog do Americo </title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main>
    <h1>Blog do Americo </h1>
    <h2><%= title %></h2>
    <p><%- content %></p>
  </main>
</body>
</html>